{% extends 'base.html' %}
{% load watermark %}
{% block title %} {{ block.super }}|{{title}}{% endblock %}
{% block context %}
<div class="gallery-container">
    {% for item in paints %}
    <div class="gallery-item">
        <a href='{{ item.get_absolute_url }}'>
            <button class="unit" type="button"><i class="icon ion-md-bookmark"></i></button>
            <button class="btn-gallery"><a href="{% url 'addbookmark' item.pk %}">&#128420;</a></button>
            <img src={{ item.photo.url|watermark:"AMY, qiality="}} alt=" {{ item.title }}" style="-moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;">
            <div class="anim-icon bookmark">
                <input type="checkbox" id="bookmark" />
                <label for="bookmark"></label>
            </div>
        </a>
    </div>
    {% endfor %}

</div>
</section>
{% endblock %}