<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <ul>
            <li><b>Коллекция</b></li>
            {% for i in collections %}
            <li><a href="{%url 'collections' i.pk%}">{{i}}</li></a>
            {% endfor %}
            <li><b>Год</b></li>
            {% for i in years %}
            <li><a href="{%url 'years' i.pk%}">{{i}}</li></a>
            {% endfor %}
            <li><b>Материалы</b></li>
            {% for i in materials %}
            <li><a href="{%url 'materials' i.pk%}">{{i}}</li></a>
            {% endfor %}
            <li><b>Ориентация</b></li>
            {% for i in orientation %}
            <li><a href="{%url 'orientation' i.pk%}">{{i}}</li></a>
            {% endfor %}
        </ul>
    </div>
</div>