<!DOCTYPE html>
{%load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    {% comment %} <link
      rel="stylesheet"
      href="{% static 'bootstrap-5.2.1-dist/css/bootstrap.min.css'%}"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="{% static 'carousel/style_carousel.css'%}"
      type="text/css"
    /> {% endcomment %}

    <title>{%block title %}{{title}}{% endblock %}</title>
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    {% comment %} {%block header %} {%include 'include/_header.html'%} {% endblock %}
    <br />
    <br />
    <div class="row">{% block content %} Content {% endblock %}</div>
    {%block carousel %} {%include 'include/_carousel.html'%} {% endblock %}
    {%block footer%} {% include 'include/_footer.html'%} {%endblock%} {% endcomment %}

    <div class="overlay"></div>
    <div class="modal">
    <!-- img, next, right, close -->
      <img src="" />
      <button class="prev"><</button>
        <button class="next">></button>
      <button class="close">x</button>
    </div>
    <section>
      
      <h3>ICHI</h3>
      <p class="star" style="color:#ffc307;">★</p>
      <nav>
        <ul>
          <li><a href="#" class="active">gallery</a></li>
          <li style="padding-left: 25px;"><a href="https://ichee.bigcartel.com/">shop</a></li>
        </ul>
      </nav>
      <p class="desc">Hello, welcome to my art gallery.<br /> Here are several illustrations I have done.</p>
      <div class="gallery-container">
          <div class="gallery-item"><img src="https://pbs.twimg.com/media/EeSn0zmUMAAKxOX?format=png&name=large" alt="blueberries or chihuahua"/></div>
        <div class="gallery-item"><img src="https://pbs.twimg.com/media/Ed0iglRUcAA1GDW?format=png&name=large" alt="rice noodle eggroll"/></div>
         <div class="gallery-item"><img src="https://pbs.twimg.com/media/EdyKGtzU8AAsn4C?format=jpg&name=large" alt="popcorn animals"/></div>
         <div class="gallery-item"><img src="https://pbs.twimg.com/media/DZ05-TjVAAAC7xJ?format=jpg&name=large" alt="cereal mascot redraw"/></div>
        <div class="gallery-item"><img src="https://pbs.twimg.com/media/EZw4WU8UYAAgQv5?format=jpg&name=900x900" alt="key lime pie"/></div>
        <div class="gallery-item"><img src="https://pbs.twimg.com/media/EKbDPHXUcAEBdPF?format=jpg&name=large" alt="apple pie"/></div>
         <div class="gallery-item"><img src="https://pbs.twimg.com/media/DqEiYVvUUAAH2z4?format=jpg&name=large" alt="halloween breakfast menu"/></div>
        <div class="gallery-item"><img src="https://pbs.twimg.com/media/DqvSqT6UwAA6iSb?format=jpg&name=large" alt="halloween lunch menu"/></div><div class="gallery-item"><img src="https://pbs.twimg.com/media/EdlNpjKUEAEpMjH?format=png&name=small" alt="blueberries or chihuahua"/></div>
         <div class="gallery-item"><img src="https://pbs.twimg.com/media/D-CwZDtU4AEDkrU?format=jpg&name=large" alt="ghibli food"/></div>
      </div>
      
    </section>
    
    <footer>
      <span>(c) cecilia tran</span> / <span> <a href="https://twitter.com/ichi_nese" target="_blank">ichi_nese &#64; twitter</a></span>
    </footer>
    


  </body>
</html>
